@import url('https://fonts.googleapis.com/css2?family=Anton&family=Labrada:ital@0;1&family=Roboto+Condensed:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anton', 'Labrada', 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgb(87, 185, 120);
    min-height: 100vh;

}


/* headings and logo */
h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    text-align: center;

}

h2 {
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: rgb(0, 0, 0)
}



.logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */
.menu {
    font-size: 125%;
    letter-spacing: 4px;

}

.menu,
.logo {
    line-height: 75px;

}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid rgb(10, 158, 47);
    color: rgb(10, 158, 47);
}

.active {
    border-bottom: 1px solid rgb(10, 158, 47);

}

/* main image */
.main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* cover text */
.cover-text,
.cover-text h2 {
    color: white;
}

.main {
    height: 600px;
    width: fit-content;
    width: 100%;
    background: url(../images/main.jpeg) no-repeat center center;
    scale: 110%;

    /* animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.cover-text {
    font-size: 130%;
    font-family: 'Labrada', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 330px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(70, 151, 189, .6);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

.top-three {
    height: 500px;
    text-align: center;

}

#spots {
    margin: 20px 0;
    font-size: 200%;
}

/* containers */
.container {
    width: 100%;
    padding-top: 50px;
    display: flex;
}
.pic{
    width: 33%;
    padding-top: 50px;
    display: flex;  
}



#square-container1 {
    background: url(../images/LakeDistrct.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    margin: 0 auto;

}

#square-container2 {
    background: url(../images/PearlLake.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    float: left;
    
}

#square-container3 {
    background: url(../images/WestfieldFishery.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    float: right;
    
}

.square h3{
    background-color: rgba(166, 238, 159, 0.6);
    text-align: center;
    align-items: center;
    width: 100%;

}


.fishing-news {
    background-image: url(../images/news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;

}

.news-section {
    width: 300px;
    height: 100%;
    padding: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255, .5);



}

#newsh1 {
    font-size: 200%;
}

/* Icons */
#gold {
    color: gold;
}

#silver {
    color: silver;
}

#bronze {
    color: rgb(176, 141, 87);
}

/* news section */
#news {
    border: solid;
    height: 5px;
    width: auto;
    color: black;
    background-color: black;

}

/* footer */
.visit {
    position: sticky;
    top: 100%;
    height: 50px;
}

.social {
    text-align: center;
    letter-spacing: 10px;
    font-size: 150%;
}

.social li {
    display: inline-block;
}

.social i {
    font-size: 250%;
    margin: 1%;
    padding: 4%;
    color: rgb(255, 255, 255);
}

/* gallery */
#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#pictures img {
    width: 100%;
}

/* media queries */

/*  Desktops, large screens */

@media (min-width: 1018px) and (max-width: 1300px) {
    h1 {
letter-spacing: 4px;
    }

    .logo {
        font-size: 250%;
        margin-left: 10px;
    }
    
    /* navigation links */
    .menu {
        font-size: 100%;
        letter-spacing: 3px;
    
    }
    
    .menu,
    .logo {
        line-height: 70px;
        margin-right: 10px;
    
    }
}
 

/* iPads, Tablets */

@media (min-width: 505px) and (max-width: 1017px) {
    h1 {
        letter-spacing: 3px;
            }
    .logo {
        font-size: 220%;
        margin-left: 5px;
        line-height: 50px;
    }
    
    /* navigation links */
    .menu {
        font-size: 90%;
        letter-spacing: 2px;
        float:left;
        line-height: 50px;
        margin-left: 10px;
    
    }
    
    
  
}

/*  Mobile devices. */

@media (max-width: 505px) {
    h1 {
        letter-spacing: 2px;
            }
    .logo {
        font-size: 170%;
        margin-left: 5px;
        line-height: 40px;
    }
    
    /* navigation links */
    .menu {
        font-size: 60%;
        letter-spacing: 0px;
        float:left;
        line-height: 50px;
        margin-left: 20px;
    
    }
  
}