@import url('https://fonts.googleapis.com/css2?family=Anton&family=Labrada:ital@0;1&family=Roboto+Condensed:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anton', 'Labrada', 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: rgb(32, 106, 175);
}

/* headings and logo */
h1,
h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(99, 14, 179);
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */
#menu {
    font-size: 125%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(216, 46, 46);
    color: rgb(216, 46, 46);
}
.active {
    border-bottom: 1px solid rgb(216, 46, 46);
    
}
/* main image */
#main-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 600px;
    width: 100%;
    background: url(../images/main.jpeg) no-repeat center center;

    /* animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom */
@keyframes main-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}