@import url('https://fonts.googleapis.com/css2?family=Anton&family=Labrada:ital@0;1&family=Roboto+Condensed:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anton', 'Labrada', 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgba(36, 228, 154, 0.6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


/* headings and logo */
h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(36, 228, 154, 0.6);

}

h2 , h3 {
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(36, 228, 154, 0.6);
}



.logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */
.menu {
    font-size: 125%;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row-reverse;
    float:right;
    background-color: rgba(36, 228, 154, 0.6);
    
}

.menu,
.logo {
    line-height: 75px;

}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid rgb(10, 158, 47);
    color: rgb(10, 158, 47);
}

.active {
    border-bottom: 1px solid rgb(10, 158, 47);

}

/* main image */
.main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* cover text */
.cover-text,
.cover-text h2 {
    color: black;
}

.main {
    height: 100%;
    width: 100%;
    /* https://www.northyorkshirewaterpark.co.uk/wp-content/uploads/2021/05/17091755a-1600x900.jpeg */
    background: url(../images/main.jpeg) no-repeat center center;
    background-position: center;
    background-size: cover;
    
    /* animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom */
@keyframes main-zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.0);
    }
}

.cover-text {
    font-size: 130%;
    font-family: 'Labrada', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 330px;
    height: 150px;
    color:black;
    padding-top: 40px;
    padding-left: 10px;

    
    bottom: 30px;
    right: 150px;
    position: absolute;
}

.top-three {
    height: 100%;
    text-align: center;
    /* pic: https://crowgreen-fishery.co.uk/wp-content/uploads/2015/05/Car-park-1.jpg */
    background-image: url(../images/GrowGreenFishery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    width: 100%;
    overflow: hidden;

}
.top-three h1{
    font-size: 250%;
}

#spots {
    margin: 20px 0;
    font-size: 200%;
}

/* containers */
.container {
    width: 100%;
    padding-top: 50px;
    display: flex;
}

.pic {
    width: 33%;
    padding-top: 50px;
    display: flex;
}



#square-container1 {
    background: url(../images/LakeDistrct.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    margin: 0 auto;

}

#square-container2 {
    background: url(../images/PearlLake.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    float: left;

}

#square-container3 {
    background: url(../images/WestfieldFishery.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    float: right;

}

.square h2 {
    background-color: rgba(36, 228, 154, 0.6);
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 100%;
    

}

/* Icons */
#gold {
    color: gold;
}

#silver {
    color: silver;
}

#bronze {
    color: rgb(176, 141, 87);
}

/* news section */


.news-section {
    width: 300px;
    height: 100%;
    padding: 50px;
    text-align: center;
    background-color: rgba(36, 228, 154, 0.6);



}

#newsh1 {
    font-size: 200%;
    background-color: rgba(36, 228, 154, 0.6)
}




#news {
    border: solid 1px;
    height: 5px;
    width: auto;
    color: black;

}

/* footer */
footer{
    bottom: 0;
    width: 100%;
    height: 70px;
    position:fixed;
    background-color: rgba(36, 228, 154, 0.6);
    text-align: center;

}
.visit {
    top: 100%;
    margin-top: auto;
}

.social {
    text-align: center;
    letter-spacing: 10px;
    font-size: 150%;
}

.social li {
    display: inline-block;
}

.social i {
    font-size: 250%;
    margin: 1%;
    padding: 4%;
    color: rgb(255, 255, 255);
}

/* gallery */
.pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

.pictures img {
    width: 100%;
}
/* Places */

.places{
    display: flex;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}
.border{
    border: none;
    border-color: rgb(16, 94, 6);
    width: 33%;
    height: 100%;
    overflow: scroll;
       
}
.border1{
    border: none;
    border-color: rgb(16, 94, 6);
    width: 66%;
    height: 100%;
 
    
}
.border1 h2 {
    background-color: rgba(36, 228, 154, 0.6);
    width: fit-content;
    padding-left: 10px;
    
}
.border p {
    background-color: rgba(36, 228, 154, 0.6);
    width: fit-content;
    
}

#first{
    /* pic: https://www.lakedistrict.gov.uk/__data/assets/image/0028/136747/Elterwater8.June-2017.Steph-Fulke-LDNP.jpg */
    background-image: url(../images/places/LakeDistrictNationalPark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    

    
}

#second{
    /* pic: https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/43/56/c6/lake-edge-holiday-homes.jpg?w=700&h=-1&s=1 */
    background-image: url(../images/places/PearlLakeCountryHolidayPark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#third{
    /* pix: http://westfieldfishery.co.uk/wp-content/uploads/2015/07/home-header-image1.jpg */
    background-image: url(../images/places/WestfieldFisheryCarpFishingLake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#fourth{
    /* pic: https://images.immediate.co.uk/production/volatile/sites/22/2018/09/GettyImages-1014943222-c4423f3.jpg?quality=90&webp=true&resize=727,485 */
    background-image: url(../images/places/TheRiverDoveandthePeakDistrict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
 
#fifth{
    /* pic: https://www.lakedistrict.gov.uk/__data/assets/image/0014/150422/Windermere-Lake-Cruises.jpg */
    background-image: url(../images/places/WindermereandtheLakeDistrict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
 
}
/* Sign Up */
.signup{
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    
}
.extra{
    height: 365px;
    width: 100%;
}



input , label{
    background-color: rgb(36, 228, 154);
    border: solid 2px black;
    }
input{
    height: 23px;
}



#submit , #reset , #button {
    height: 30px;
    width: 100px;
    background-color: rgb(36, 228, 154);
    border: solid 2px black;
}



#feedback{
   color: rgb(0, 0, 0);
   
}
#text 
{
    background-color: rgba(245, 252, 249, 0.6);
    border: solid 2px black;
    font-size: larger;
    text-align: center;
}
.thankyou{
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.thankyou > h1{
    font-size: 400%;
        
}
.back1{
    /* pic: https://wallpaper.dog/large/10736616.jpg */
    background-image: url(../images/thankyou/thankyouwallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.back2{
    /* pic: https://www.sandwichlakes.co.uk/wp-content/uploads/2016/03/victory_fishing_lake_sandwich_kent.jpg*/
    background-image: url(../images/signup/victory_fishing_lake_sandwich_kent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
       
}

/* media queries */

/*  Desktops, large screens */

@media (min-width: 1018px) and (max-width: 1165px) {
    h1 , h2{
        letter-spacing: 4px;
    }

    .logo {
        font-size: 250%;
        margin-left: 10px;
    }

    /* navigation links */
    .menu {
        font-size: 100%;
        letter-spacing: 3px;
        
    }

    .menu,
    .logo {
        line-height: 70px;
        margin-right: 10px;

    }

    .main-outer {
        height: 500px;

    }

    .cover-text {
        font-size: 120%;
        letter-spacing: 3px;
        width: 300px;
        height: 140px;
        bottom: 25px;
        right: 120px;

    }

    .top-three {
        height: 100%;
    }
    .pic{
        width: 100%;
    }
    .square h2 {
        font-size: 90%;
    }

    #spots {
        margin: 20px 0;
        font-size: 200%;
    }

    /* containers */

    #square-container1 {
        width: 100%;
        height: 300px;
        padding: 10px;
    }

    #square-container2 {
        width: 100%;
        height: 300px;
        padding: 10px;
        
    }

    #square-container3 {
        width: 100%;
        height: 300px;
        padding: 10px;
    }

    /* news section */
    #news {
        display: none;
    }

    #newsh1 {
        font-size: 170%;
    }
    .news-section{
        font-size: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center
    }
    .social{
        font-size: 160%;
    }
    /* places */
    .border , .border1 {
        font-size: 90%;
    }
    /* thankyou */
    .thankyou > h1{
        font-size: 350%;
            
    }
    
}
    




/* iPads, Tablets */

@media (min-width: 505px) and (max-width: 1017px) {
    h1 , h2{
        letter-spacing: 3px;
    }

    .logo {
        font-size: 220%;
        margin-left: 5px;
        line-height: 50px;
    }

    /* navigation links */
    .menu {
        font-size: 90%;
        letter-spacing: 2px;
        float: left;
        line-height: 50px;
        margin-left: 10px;

    }

    .main-outer {
        height: 400px;

    }

    .cover-text {
        font-size: 100%;
        letter-spacing: 2px;
        width: 250px;
        height: 120px;
        bottom: 20px;
        right: 100px;

    }

    .top-three {
        height: 100%;
    }
    .pic{
        width: 100%;
    }
    .square h2 {
        font-size: 90%;
    }

    #spots {
        margin: 10px 0;
        font-size: 150%;
    }

    /* containers */

    #square-container1 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    #square-container2 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    #square-container3 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    /* news section */
    #news {
        display: none;
    }

    #newsh1 {
        font-size: 190%;
    }
    .news-section{
        font-size: 90%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center
    }
    .social{
        font-size: 130%;
    }
    /* Places */
    .border , .border1 {
        font-size: 75%;
    }
    /* gallery */
    .pictures {
        column-count: 2;
    }
    /* thankyou */
    .thankyou > h1{
        font-size: 300%;
    }
    footer{
        height: 55px;
    }
}

/*  Mobile devices. */

@media (max-width: 505px) {
    h1 , h2 {
        letter-spacing: 2px;
    }

    .logo {
        font-size: 150%;
        margin-left: 5px;
        line-height: 40px;
    }

    /* navigation links */
    .menu {
        font-size: 60%;
        letter-spacing: 0px;
        float: left;
        line-height: 50px;
        margin-left: 20px;

    }

    .main-outer {
        height: 400px;

    }

    .cover-text {
        font-size: 80%;
        letter-spacing: 1px;
        width: 200px;
        height: 100px;
        bottom: 20px;
        right: 20px;
    }

    .top-three {
        height: 100%;
    }
    .pic{
        width: 100%;
    }
    .square h2 {
        font-size: 80%;
    }

    #spots {
        margin: 5px 0;
        font-size: 130%;
    }

    /* containers */

    #square-container1 {
        width: 100%;
        height: 250px;
        padding: 5px;
    }

    #square-container2 {
        width: 100%;
        height: 250px;
        padding: 5px;
    }

    #square-container3 {
        width: 100%;
        height: 250px;
        padding: 5px;
    }
    /* news section */
    #news {
        display: none;
    }

    #newsh1 {
        font-size: 150%;
    }
    .news-section{
        font-size: 80%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center
    }
    .social{
        font-size: 100%;
    }
    /* Places */
    .border , .border1 {
        font-size: 60%;
    }
    /* gallery */
    .pictures {
        column-count: 1;
    }
    /* thankyou */
    .thankyou > h1{
        font-size: 300%;
            
    }
    footer{
        height: 40px;
    }
}