@import url('https://fonts.googleapis.com/css2?family=Anton&family=Labrada:ital@0;1&family=Roboto+Condensed:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anton', 'Labrada', 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgb(87, 185, 120);

}


/* headings and logo */
h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    text-align: center;

}

h2 {
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: rgb(0, 0, 0)
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    font-size: 125%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(10, 158, 47);
    color: rgb(10, 158, 47);
}

.active {
    border-bottom: 1px solid rgb(10, 158, 47);

}

/* main image */
#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* cover text */
#cover-text,
#cover-text h2 {
    color: white;
}

#main {
    height: 600px;
    width: 100%;
    background: url(../images/main.jpeg) no-repeat center center;
    scale: 110%;

    /* animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Labrada', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 330px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(70, 151, 189, .6);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

#top-three {
    height: 600px;
    text-align: center;


}

#second-spot {
    padding-top: 30px;
    width: 33%;
    float: left;
    margin-left: 10px;

}

#third-spot {
    padding-top: 30px;
    width: 33%;
    float: right;
    margin-right: 10px;

}

#first-spot {
    width: 33%;
    margin: 0 auto;

}

#spots {
    margin: 30px 0;
    font-size: 200%;
}

/* containers */
.container {

    padding-top: 50px;
    display: flex;

}

#square-container1 {
    width: 350px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
}

#square-container2 {
    width: 350px;
    height: 300px;
    padding: 30px;
    float: left;
}

#square-container3 {
    width: 350px;
    height: 300px;
    padding: 30px;
    float: right;
}

#square-cove-bg1 {
    background: url(../images/LakeDistrct.jpeg) no-repeat center center;
    height: 100%;
    scale: 175%;
}

#square-cove-bg2 {
    background: url(../images/PearlLake.jpeg) no-repeat center center;
    height: 100%;
    scale: 150%;

}

#square-cove-bg3 {
    background: url(../images/WestfieldFishery.jpeg) no-repeat center center;
    height: 100%;
    scale: 150%;
}

.fishing-news {
    background-image: url(../images/news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    
}

.news-section {
    width: 300px;
    height: 100%;
    padding: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255, .5);
    
    
    
}

#newsh1 {
    font-size: 200%;
}

/* Icons */
#gold {
    color: gold;
}

#silver {
    color: silver;
}

#bronze {
    color: rgb(176, 141, 87);
}

/* news section */
#news {
    border: solid;
    height: 5px;
    width: auto;
    color: black;
    background-color: black;

}
/* footer */
footer{
    height: 100px;
    
}
.social{
    text-align: center;
}
.social li{
    display: inline;
}
.social i{
    font-size: 240%;
    margin: 1%;
    padding: 4%;
    color: rgb(11, 11, 14);
}
