@import url('https://fonts.googleapis.com/css2?family=Anton&family=Labrada:ital@0;1&family=Roboto+Condensed:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Anton', 'Labrada', 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgb(87, 185, 120);
    min-height: 100vh;

}


/* headings and logo */
h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    text-align: center;

}

h2 {
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: rgb(0, 0, 0)
}



.logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */
.menu {
    font-size: 125%;
    letter-spacing: 4px;

}

.menu,
.logo {
    line-height: 75px;

}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid rgb(10, 158, 47);
    color: rgb(10, 158, 47);
}

.active {
    border-bottom: 1px solid rgb(10, 158, 47);

}

/* main image */
.main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* cover text */
.cover-text,
.cover-text h2 {
    color: white;
}

.main {
    height: 600px;
    width: fit-content;
    width: 100%;
    background: url(../images/main.jpeg) no-repeat center center;
    
    /* animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates level of zoom */
@keyframes main-zoom {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

.cover-text {
    font-size: 130%;
    font-family: 'Labrada', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 330px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(70, 151, 189, .6);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

.top-three {
    height: 500px;
    text-align: center;

}

#spots {
    margin: 20px 0;
    font-size: 200%;
}

/* containers */
.container {
    width: 100%;
    padding-top: 50px;
    display: flex;
}

.pic {
    width: 33%;
    padding-top: 50px;
    display: flex;
}



#square-container1 {
    background: url(../images/LakeDistrct.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    margin: 0 auto;

}

#square-container2 {
    background: url(../images/PearlLake.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    float: left;

}

#square-container3 {
    background: url(../images/WestfieldFishery.jpg) no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 250px;
    padding: 20px;
    float: right;

}

.square h3 {
    background-color: rgba(166, 238, 159, 0.6);
    text-align: center;
    align-items: center;
    width: 100%;

}

/* Icons */
#gold {
    color: gold;
}

#silver {
    color: silver;
}

#bronze {
    color: rgb(176, 141, 87);
}

/* news section */
.fishing-news {
    background-image: url(../images/news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;

}

.news-section {
    width: 300px;
    height: 100%;
    padding: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255, .5);



}

#newsh1 {
    font-size: 200%;
}




#news {
    border: solid;
    height: 5px;
    width: auto;
    color: black;

}

/* footer */
.visit {
    position: sticky;
    top: 100%;
    height: 50px;
}

.social {
    text-align: center;
    letter-spacing: 10px;
    font-size: 150%;
}

.social li {
    display: inline-block;
}

.social i {
    font-size: 250%;
    margin: 1%;
    padding: 4%;
    color: rgb(255, 255, 255);
}

/* gallery */
#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#pictures img {
    width: 100%;
}
/* Places */

.places{
    display: flex;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
}
.border{
    border: solid 3px;
    border-color: rgb(16, 94, 6);
    width: 33%;
    height: 100%;
    overflow: scroll;
       
}
.border1{
    border: solid 3px;
    border-color: rgb(16, 94, 6);
    width: 66%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
      
    
}
.border1 h2{
    background-color: rgba(166, 238, 159, 0.6);
    width: fit-content;
    padding-left: 10px;
    
}
#first{
    background-image: url(../images/places/LakeDistrictNationalPark.jpg);
    

    
}
#second{
    background-image: url(../images/places/PearlLakeCountryHolidayPark.jpg);
}
#third{
    background-image: url(../images/places/WestfieldFisheryCarpFishing\ Lake.jpg);
    
}
#fourth{
    background-image: url(../images/places/TheRiverDoveandthePeakDistrict.jpg);
}
#fifth{
    background-image: url(../images/places/WindermereandtheLakeDistrict.jpg);
 
}
/* Sign Up */
.signup{
    padding-top: 100px;
    margin-left: auto;
}

/* media queries */

/*  Desktops, large screens */

@media (min-width: 1018px) and (max-width: 1140px) {
    h1 , h2{
        letter-spacing: 4px;
    }

    .logo {
        font-size: 250%;
        margin-left: 10px;
    }

    /* navigation links */
    .menu {
        font-size: 100%;
        letter-spacing: 3px;

    }

    .menu,
    .logo {
        line-height: 70px;
        margin-right: 10px;

    }

    .main-outer {
        height: 500px;

    }

    .cover-text {
        font-size: 120%;
        letter-spacing: 3px;
        width: 300px;
        height: 140px;
        bottom: 25px;
        right: 120px;

    }

    .top-three {
        height: 1270px;
    }
    .pic{
        width: 100%;
    }
    .square h3 {
        font-size: 95%;
    }

    #spots {
        margin: 20px 0;
        font-size: 200%;
    }

    /* containers */

    #square-container1 {
        width: 100%;
        height: 300px;
        padding: 10px;
    }

    #square-container2 {
        width: 100%;
        height: 300px;
        padding: 10px;
        
    }

    #square-container3 {
        width: 100%;
        height: 300px;
        padding: 10px;
    }

    /* news section */
    #news {
        display: none;
    }

    #newsh1 {
        font-size: 170%;
    }
    .news-section{
        font-size: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center
    }
    .social{
        font-size: 160%;
    }
    /* places */
    .border , .border1 {
        font-size: 90%;
    }
}
    




/* iPads, Tablets */

@media (min-width: 505px) and (max-width: 1017px) {
    h1 , h2{
        letter-spacing: 3px;
    }

    .logo {
        font-size: 220%;
        margin-left: 5px;
        line-height: 50px;
    }

    /* navigation links */
    .menu {
        font-size: 90%;
        letter-spacing: 2px;
        float: left;
        line-height: 50px;
        margin-left: 10px;

    }

    .main-outer {
        height: 400px;

    }

    .cover-text {
        font-size: 100%;
        letter-spacing: 2px;
        width: 250px;
        height: 120px;
        bottom: 20px;
        right: 100px;

    }

    .top-three {
        height: 1100px;
    }
    .pic{
        width: 100%;
    }
    .square h3 {
        font-size: 90%;
    }

    #spots {
        margin: 10px 0;
        font-size: 150%;
    }

    /* containers */

    #square-container1 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    #square-container2 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    #square-container3 {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    /* news section */
    #news {
        display: none;
    }

    #newsh1 {
        font-size: 190%;
    }
    .news-section{
        font-size: 90%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center
    }
    .social{
        font-size: 130%;
    }
    /* Places */
    .border , .border1 {
        font-size: 75%;
    }
}

/*  Mobile devices. */

@media (max-width: 505px) {
    h1 , h2 {
        letter-spacing: 2px;
    }

    .logo {
        font-size: 170%;
        margin-left: 5px;
        line-height: 40px;
    }

    /* navigation links */
    .menu {
        font-size: 60%;
        letter-spacing: 0px;
        float: left;
        line-height: 50px;
        margin-left: 20px;

    }

    .main-outer {
        height: 400px;

    }

    .cover-text {
        font-size: 80%;
        letter-spacing: 1px;
        width: 200px;
        height: 100px;
        bottom: 20px;
        right: 20px;
    }

    .top-three {
        height: 1100px;
    }
    .pic{
        width: 100%;
    }
    .square h3 {
        font-size: 100%;
    }

    #spots {
        margin: 5px 0;
        font-size: 130%;
    }

    /* containers */

    #square-container1 {
        width: 100%;
        height: 250px;
        padding: 5px;
    }

    #square-container2 {
        width: 100%;
        height: 250px;
        padding: 5px;
    }

    #square-container3 {
        width: 100%;
        height: 250px;
        padding: 5px;
    }
    /* news section */
    #news {
        display: none;
    }

    #newsh1 {
        font-size: 150%;
    }
    .news-section{
        font-size: 80%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center
    }
    social{
        font-size: 100%;
    }
    /* Places */
    .border , .border1 {
        font-size: 60%;
    }
}